/*
white       227 224 224
charcoal    64 65 67
gold        192 183 99
bronze      124 105 75
*/
html {
    margin: 0 auto;
    font-size: 16px;
    background-color: #f2f2c8;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header_bar_div {
    text-align: middle;
}

.header_bar {
    width: 100%;
    background-color: #173985;
}

#search_div {
    padding-top: 1%;
    padding-bottom: 2%;
}

#body_div {
    height: 70%;
    width: 90%;
    margin: auto;
    line-height: 1.75;
    background-color: #112653;
    border-radius: 32px;
    text-align: center;
}

#player_search_form {
    text-align: center;
    display: block;
}

#search_field:focus {   
    border-color: #7abff8;
    box-shadow: rgb(103, 116, 145) 0px 0px 0px 2px;
    outline: 0 none;
}

#search_field {
    width: 30%;
    min-height: 60px;
    border: 0px;
    border-radius: 100px;
    background-color: #8d9cbf;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: 500%;
    vertical-align: middle;
}

#search_button:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    outline: 0 none;
}

#search_field::placeholder {
    color: #637294;
}

#search_button {
    min-width: 60px;
    min-height: 60px;
    border-radius: 500px;
    vertical-align: middle;
    font-size: 26px;
    background-color: #8d9cbf;
    color: #112653;
    border: 0px;
    font-weight: 700;
    font-size: 30px;
}

#player_name {
    white-space: pre-wrap;
}

#table_div {
    padding-top: 35px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 89%;
    width: 80%;
    margin: auto;
    color:azure;
}


#table_div::-webkit-scrollbar {
    height: 40px;
    padding-top: 60px;
    width: 20px;
}

#table_div::-webkit-scrollbar-track {
    background: #7abff8;
    max-height: 40px;
}

#table_div::-webkit-scrollbar-thumb {
    height: 12px;
    background: #0d2e49;
}

.stat_table  {
    font-family: "arial";
    margin-bottom: 100px;
    width: 100%;
    margin: 0;
    background-color: #01003f;
    border-spacing: 0px;
}

.table_player_info {
    width: 230px;

    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.last_col {
    border-right: 2px solid white;;
}

.first_stat {
    padding: 0;
    height: 100%;
    width: 200px;
    
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.num {
    padding: 0;
    height: 100%;
    width: 120px;

    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.last_stat {
    padding: 0;
    height: 100%;
    width: 90px;
}

.del {
    width: 30px;
    background-color: rgb(17, 38, 83);
}


#headers {
    background-color: #06173d;
}

.player_rows {
    border: 2px solid;
    font-size: 28px;
}

.table_pic {
    width: 100px;

    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.table_player_name {
    border-bottom: 2px solid white;;
}

.headshot {
    width: 150px;
    margin-left: 15px;
}

.table_stat {
    padding: 0;
    border-left: white 2px solid;
}

.projected_stat {
    border-bottom: 2px solid white;;
}

.delete_row_cell {
    background-color: rgb(17, 38, 83);
}

.delete_row_button {
    width: 20px;
    align-self: auto;
    background-color: ;
}

#header_bar_div {
    min-height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;

    font-family: 'Arial';
    color: antiquewhite;
    font-size: 40px;
    font-stretch: extra-expanded;
}