/*
white       227 224 224
charcoal    64 65 67
gold        192 183 99
bronze      124 105 75
*/
html {
    margin: 0 auto;
    font-size: 16px;
    background-color: #f2f2c8;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header_bar_div {
    text-align: middle;
}
#search_div {
    padding-top: 1%;
    padding-bottom: 2%;
}

#body_div {
    height: 70%;
    width: 90%;
    margin: auto;
    line-height: 1.75;
    background-color: #112653;
    border-radius: 32px;
    text-align: center;
}

#player_search_form {
    text-align: center;
    display: block;
}

#search_field:focus {   
    border-color: #7abff8;
    box-shadow: 0 1px 1px #008cff4b inset, 0 0 8px #021422;
    outline: 0 none;
}

#search_field {
    width: 30%;
    min-height: 60px;
    border: 0px;
    border-radius: 100px;
    background-color: #8d9cbf;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: 500%;
    vertical-align: middle;
}

#search_button:focus {   
    border-color: #7abff8;
    box-shadow: 0 1px 1px #ff5100d8 inset, 0 0 8px #05f111;
    outline: 0 none;
}

#search_button:focus {   
    border-color: #7abff8;
    box-shadow: 0 1px 1px #ff5100d8 inset, 0 0 8px #05f111;
    outline: 0 none;
}

#search_field::placeholder {
    color: #637294;
}

#search_button {
    min-width: 60px;
    min-height: 60px;
    border-radius: 500px;
    vertical-align: middle;
    font-size: 26px;
    background-color: #8d9cbf;
    color: #112653;
    border: 0px;
}

#player_name {
    white-space: pre-wrap;
}

#table_div {
    padding-top: 2%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: 89%;
    width: 90%;
    margin: auto;
    color:azure;
}

.stat_table {
    font-family: "arial";
    border: 1px solid;
    margin-bottom: 100px;
    width: 100%;
    margin: 0;
}

.table_pic {
    width: 15%;
}

.num {
    width: 12%;
}

.player_rows {
    outline: 2px solid;
    font-size: 28px;
}


.headshot {
    width: 150px;
    margin-left: 10px;
}

.header_bar {
    width: 100%;
    background-color: #173985;
}

#header_bar_div {
    min-height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;

    font-family: 'Arial';
    color: antiquewhite;
    font-size: 40px;
    font-stretch: extra-expanded;
}

.stat_type {
    border: white 3px;
}